In [1]:
import pandas as pd
df = pd.read_csv('Institute.csv')

In [2]:
df

,Name,website,rating,category,address,twitterUrl
0,DataMites - Data Science & AI Courses in Banga...,datamites.com,4.8,Training centre,"Bajrang House, 7th Mile, C-25, Bengaluru - Che...",https://twitter.com/DataMites
1,"ExcelR - Data Science, Data Analytics Course T...",excelr.com,4.7,Training centre,"49, 1st Cross, 27th Main, behind Tata Motors, ...",https://twitter.com/ExcelrS
2,"360DigiTMG - Data Analytics, Data Science Cour...",360digitmg.com,4.7,Software training institute,"2-56/2/19, 3rd floor, Vijaya Towers, Ayyappa S...",https://twitter.com/360digitmg
3,"Edvancer - Data Science, Machine Learning and ...",edvancer.in,4.8,Corporate office,"4th Floor, SM Centre, C/o Pearl Academy Opp Ma...",https://twitter.com/Edvancer
4,"ExcelR- Data Science, Data Analyst, Business A...",excelr.com,4.6,Training centre,"M 130-131, Inside ABL Work Space,Second Floor,...",https://twitter.com/ExcelrS
...,...,...,...,...,...,...
128,FutureSkills Prime,futureskillsprime.in,3.6,Education center,"NASSCOM Plot 7 to, 10, Sector 126, Noida, Utta...",NaN
129,PACE Training - Corporate Training Company in ...,pacetraining.in,3.8,Training centre,"HMDA Maitrivanam 603, 6th floor, Kumar Basti, ...",NaN
130,"Government Institute of Forensic Science, Nagpur",ifscnagpur.in,4.4,College,"43WG+R73, Red Cross Rd, Sitabuldi, Nagpur, Mah...",NaN
131,Fergusson College (Autonomous),fergusson.edu,4.5,College,"Fergusson College Rd, Shivajinagar, Pune, Maha...",NaN
132,Data Science Research Institute,NaN,3.0,Research institute,"VHFF+8GW, 9th Cross Rd, Chaithanya Layout, Bro...",NaN

In [3]:
df = df[['Name', 'address', 'website']].head(10)

In [4]:
df

,Name,address,website
0,DataMites - Data Science & AI Courses in Banga...,"Bajrang House, 7th Mile, C-25, Bengaluru - Che...",datamites.com
1,"ExcelR - Data Science, Data Analytics Course T...","49, 1st Cross, 27th Main, behind Tata Motors, ...",excelr.com
2,"360DigiTMG - Data Analytics, Data Science Cour...","2-56/2/19, 3rd floor, Vijaya Towers, Ayyappa S...",360digitmg.com
3,"Edvancer - Data Science, Machine Learning and ...","4th Floor, SM Centre, C/o Pearl Academy Opp Ma...",edvancer.in
4,"ExcelR- Data Science, Data Analyst, Business A...","M 130-131, Inside ABL Work Space,Second Floor,...",excelr.com
5,Data Science Academy,"Asiatic Business Center, NH Bypass, Thiruvanan...",datascience.one
6,DataMites - Data Science Courses in Chennai,"IndiQube Brigade Vantage, 2nd Floor, Sy. No. 2...",datamites.com
7,DataMites - Data Science Courses Pune,"City Vista, BLDG-A, YooCo Coworking Space, 001...",datamites.com
8,"Data Brio Academy - Data Science, Python, Mach...","PS Srijan Corporate Park,, 14th Floor, GP Bloc...",databrio.com
9,"ExcelR- Data Science, Data Analytics, Business...","Shree Padmini Building, 301,Third Floor, Teli ...",excelr.com

In [6]:
df['Name'] = df['Name'].str.split('-').str[0]

In [8]:
df = df.rename(columns={
    'address': 'Address',
    'website': 'Contact'
})

In [9]:
df.index += 1
df.reset_index(inplace=True)
df.rename(columns={'index': 'InstituteID'}, inplace=True)

In [10]:
df

,InstituteID,Name,Address,Contact
0,1,DataMites,"Bajrang House, 7th Mile, C-25, Bengaluru - Che...",datamites.com
1,2,ExcelR,"49, 1st Cross, 27th Main, behind Tata Motors, ...",excelr.com
2,3,360DigiTMG,"2-56/2/19, 3rd floor, Vijaya Towers, Ayyappa S...",360digitmg.com
3,4,Edvancer,"4th Floor, SM Centre, C/o Pearl Academy Opp Ma...",edvancer.in
4,5,ExcelR,"M 130-131, Inside ABL Work Space,Second Floor,...",excelr.com
5,6,Data Science Academy,"Asiatic Business Center, NH Bypass, Thiruvanan...",datascience.one
6,7,DataMites,"IndiQube Brigade Vantage, 2nd Floor, Sy. No. 2...",datamites.com
7,8,DataMites,"City Vista, BLDG-A, YooCo Coworking Space, 001...",datamites.com
8,9,Data Brio Academy,"PS Srijan Corporate Park,, 14th Floor, GP Bloc...",databrio.com
9,10,ExcelR,"Shree Padmini Building, 301,Third Floor, Teli ...",excelr.com

In [11]:
df.to_csv("Institute.csv", index = False)